@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');

.contentTable {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.p-growl-title, .p-growl-message {
	text-align: left !important;
}

.ml-5 {
	margin-left: 5px !important;
}

.login-button {
	margin: 5px !important;
	float: right;
}

.headingText {
	font-size: 2.3em;
	color: white;
	font-family: 'Black Ops One', cursive;
}

#headerContainer {
    width: 100%;
    text-align: center;
    background-color: #252525;
    border-bottom: 1px solid #191919;
    height: 45px;
}

#headerLeftContent {
    float:left;
    width: 100px;
    text-align: left;
}

#headerLeftContentMenu {
	margin: 5px !important;
}

#headerCenterContent {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
}

#headerRightContent {
    float:right;
    width: 100px;
	text-align: right;
}

.p-menu {
	width: 100% !important;
	border-radius: 0 !important;
}

.p-submenu-header {
	border-radius: 0 !important;
}

.p-sidebar {
	padding: 0 !important;
}

.p-sidebar-close {
	padding: 0.571em 1em !important;
}

.p-sidebar-close:focus {
	box-shadow: none !important;
}

#sidebar-title {
	padding-left: 0.571em;
	font-weight: normal;
}

#rootContainer {
 background-color: #3f3f3f;
}

#rootContent {
	padding: 20px;
	text-align: center;
}